body{
  margin:0%;
}

#leftBox{
  height:100%;
  width:50%;
  float:left;
  position:fixed;
  background-color: #FF0000;
  transition: 3s;
}

@font-face {
    font-family: 'magicsan';
    src: url('../Mallie-8M8pB.otf');
}

#loading{
  margin-top:30%;
  font:inherit;
  font-family: magicsan;
  font-size: 200%;
  position:fixed;
  transition: 1.5s;

}

#rightBox{
  height:100%;
  width:0%;
  margin-left: 50%;
  float:right;
  position: fixed;
  background-color: #800000;
  transition: 1.5s;
}
