*{
	margin:0px;
	padding:0px;
}
body{
	background-color:black;
}
.everything{
	z-index:50;
	margin-top:70px;
}
.short{
	background-image:url('../Images/machu pichu.jpg');
	background-attachment:fixed;
	background-size:cover;
	height:100%;
	}
.short h2{
	padding:10px;
	text-align:center;
	background-color:rgba(245,245,220,.9);
	width:20%;
	margin-left:42%;
	margin-top:20%;
	position:absolute;
	font-size:35px;
	}
p{
	padding:20px;
	background-color:none;
}
h2{
	padding:20px;
}
	
.goals ul li{
	color:white;
}
.sect1 {
	background-image:url('../Images/app.jpg');
	background-attachment:fixed;
	background-size:cover;
	height:70%;
	width:100%;
}
.sect2{
	background-image:url('../Images/running.gif');
	background-attachment:fixed;
	background-size:cover;
	height:70%;
	width:100%;
	
}
.sect3{
	background-image:url('../Images/mit.jpg');
	background-attachment:fixed;
	background-size:cover;
	height:70%;
	width:100%;
	
}
.long{
	background-image:url('../Images/long term.jpg');
	background-attachment:fixed;
	background-size:cover;
	height:100%;
}


.s1{
	background-image:url('../Images/google.gif');
	background-attachment:fixed;
	background-size:cover;
	height:70%;
	width:100%;
}

.s2{
	background-image:url('../Images/jaguar.jpg');
	background-attachment:fixed;
	background-size:cover;
	height:70%;
	width:100%;
}

.s3{
	background-image:url('../Images/teaching.jpg');
	background-attachment:fixed;
	background-size:cover;
	height:70%;
	width:100%;
}

.end{
	background-image:url('../Images/goodbye.jpg');
	background-attachment:fixed;
	background-size:cover;
	height:100%;
	width:100%;		
	
}



#mbar{
	background-color: rgba(0,0,0,1);
	width:100%;
	height:70px;
	line-height:70px;
	position:fixed;
	top:0;
	z-index:1000;
	padding-bottom:0px;
	}
#mbar ul{
	float:right;
	margin-right:20px;
	}
#mbar h1{
	float:left;
	color:white;
	}
#mbar ul li:nth-child(4) a{
	background-color:rgba(255,255,255,.8);
	color:black;
	padding:10px;
	}
#mbar ul li{
	list-style-type:none;
	display:inline-block;
	padding:12px;
	}
#mbar ul li a{
	color:white;
	}
nav{
		width:100%;
		text-align:center;
	}
nav li a{
		display:block;
		padding:15px;
		border-bottom:1px solid;
		color:rgba(0,0,0,1);
	}

nav li a:hover{
		display:block;
		padding:15px;
		border-bottom:1px solid;
		color:rgba(255,255,255,1);
}
.sidebar{
		width:190px;
		height:100%;
		position:absolute;
		background-color:rgba(255,255,255,1);
		left:-244px;
		z-index:99;
		transition:2s;
		position:fixed;
		border-style:solid;
		border-radius:25px;
		margin-top:50px;
		color:black;
	}
		
.icon{
		color:rgba(255,255,255,1);
		padding:10px;
		padding-left:50px;
		left:-35px;
		background-color:rgba(61,61,61,.8);
		cursor:pointer;
		position:fixed;
		z-index:100;
		border-radius: 25px;
		margin-top:3px;
	}
		
.icon:hover{
		background-color:rgba(245,245,220,1);
		color:black;
		transition:1s;
		}
#menu{
	display:none;
}
		
#menu:checked ~ .sidebar{ position: fixed; left: 0;transition:1.5s;}
#menu:checked ~ .everything{ position:relative;transition:2s;left: 15em;}